//@import (reference) './index';
.initStyle(/*----------------------------------------------------主题色------------------------------------------------------*/
    @para-main_color: #5196fe,  //#75B1FF,
    /*----------------------------------------------------菜单栏------------------------------------------------------*/
    //背景色
    @para-menu_bgColor: #2b323d,  //#283036,
    //菜单展开背景色
    @para-menu-collapse_bgColor: #1f262f,  //#161a1e,
    //字体颜色
    @para-menu-txt_color: #a2aab8,  //#98a2ac,
    //圆点颜色
    @para-menu-dash_color: #7284a8,  //#7284a8
    //线条颜色
    @para-menu-line_color: #283c50,  //#303c49,
    /*----------------------------------------------------列表区域------------------------------------------------------*/
    //列表鼠标hover
    @para-table-hover_bgColor: #ecf6fe,  //#f3faff,
    //边框线颜色
    @para-table-hover_borderColor: #80bcf3,  //#b0cef9,
    /*----------------------------------------------------按钮颜色------------------------------------------------------*/
    @para-btn_color: #5196fe,  //#75B1FF, #8dc1fe
    @para-btn_hoverColor: #74abfe) {

    // 导航栏高度
    @base-nav-height: 50px;
    //弹框表头背景色
    @base-dialog-bgColor: #f3f3f3;

    /** 多系统公用样式 ---------------------------------====== Start ======--------------------------------**/

    .ui-not_scroll {
        &::-webkit-scrollbar {
            width: 0
        }
    }

    //菜单栏样式
    .ui-nav {
        background: @para-menu_bgColor;

        &::-webkit-scrollbar {
            width: 0
        }

        .ui-nav-bar {
            background: @para-menu_bgColor;
        }

        .ui-system-info {
            border-bottom: 1px @para-menu-line_color solid;
            border-top: 1px @para-menu-line_color solid;
            background: @para-menu_bgColor;

            i {
                color: @para-main_color;
            }
        }

        /*菜单栏*/

        .el-menu {
            background: @para-menu_bgColor;

            .el-menu--inline {
                background: @para-menu-collapse_bgColor;
            }

            .default {
                color: @para-menu-txt_color;
            }

            .active {
                color: @para-main_color;
            }

            //一级菜单
            .el-submenu__title {
                color: @para-menu-txt_color;
                border-bottom: 1px @para-menu-line_color solid;
            }

            //二级菜单
            .el-submenu .el-menu-item {
                color: #cacdcf;
            }

            .el-submenu .el-menu-item:hover {
                color: #ffffff;
            }

            .el-submenu .el-menu-item.is-active {
                color: @para-main_color;
            }

            .el-submenu__title:hover, .el-submenu__title:focus {
                background: @para-menu_bgColor;
            }

            //圆点
            .menu-item-dot {
                border: 0.5px dashed @para-menu-dash_color;

                .normal-dot {
                    background-color: @para-menu-dash_color;
                }

                .active-dot {
                    background-color: @para-main_color;
                }
            }
        }
    }
    //内容模块
    .ui-content {
        //路由模块
        .ui-multiple_tab-item {
            color: @para-main_color;

            span.ui-link {
                color: @para-main_color;
            }

            span.ui-link + i {
                background: @para-main_color;
            }
        }

        .ui-main-module {
            li.ui-search-layout_inp {
                .el-checkbox__label {
                    font-size: 12px;
                }
            }

            .el-input--small {
                font-size: 12px !important;
            }

            .ui-search-area {
                //height: 142px;
                box-sizing: border-box;
                background: @base-main-areaBg;
                border: 1px solid #e6e6e6;
                border-top: 0 none;
            }

            //查询区域按钮
            .ui-main-search-btn, .ui-Filter-btn {
                .el-button {
                    border-radius: 15px;
                }

                .el-button--primary {
                    color: #ffffff;
                    background: @para-btn_color;
                    border-color: @para-btn_color;
                }

                .el-button--default:focus, .el-button--default:hover {
                    background-color: #FFFFFF;
                    color: #333333;
                    border-color: @para-btn_color;
                }

                .el-button--primary:hover {
                    background: @para-btn_hoverColor;
                    border-color: @para-btn_hoverColor;
                }

                .el-button--primary:focus {
                    background: @para-btn_color;
                }
            }

            //筛选按钮
            .ui-Filter-btn {
                text-align: left;
                margin: 5px 0 0 100px;
                box-sizing: border-box;

                .el-button--small {
                    padding: 9px;

                    i {
                        font-size: 12px !important;
                        margin-right: 5px !important;
                    }
                }

                .el-button--text {
                    margin-left: 0 !important;
                }
            }

            //操作按钮
            .ui-fn-module {
                .el-button--primary {
                    color: @para-btn_color;
                    border-color: @para-btn_color;
                    background: none;

                    &:hover, &:active {
                        background: @para-btn_color;
                        color: #ffffff;
                    }
                }

                .el-button + .el-button {
                    margin-left: 0;
                }

                .icon-piliangdaoru {
                    margin-right: 0 !important;
                }
            }

            //列表区域
            .ui-main-module-table {
                .el-table--enable-row-hover .el-table__body tr:hover + tr td {
                    border-top: 1px solid transparent;
                }

                .el-table--enable-row-hover .el-table__body tr:hover td {
                    background: @para-table-hover_bgColor;
                    //border-top: 1px solid @para-table-hover_borderColor;
                    //border-bottom: 1px solid @para-table-hover_borderColor;

                    //.el-checkbox__input {
                    //    position: relative;
                    //    left: -2px;
                    //}
                }

                .el-table__body tr.hover-row > td {
                    background: @para-table-hover_bgColor;
                    //border-top: 1px solid @para-table-hover_borderColor;
                    //border-bottom: 1px solid @para-table-hover_borderColor;
                }

                .el-table__body tr:hover > td:first-child {
                    //border-left: 2px @para-main_color solid;
                }

                .el-table--enable-row-hover .el-table__body tr:hover > td:first-child {
                    //border-left: 2px @para-main_color solid;
                }

                .el-table__body .hover-row > td:first-child {
                    //border-left: 2px @para-main_color solid;
                }

                //数据栏切换样式
                .ui-active {
                    background: @para-main_color;
                }

                .el-table th, .el-table td {
                    padding: 0 !important;
                    //vertical-align: top;
                }

                .el-table .cell {
                    padding: 8px !important;
                }

                //状态圆圈
                .ui-state_circle {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    display: inline-block;
                    position: relative;
                    top: -2px;
                    left: 0;
                    margin-right: 5px;
                }

                .el-button--small:not(:first-child) span {
                    border-left: 1px #3388ff solid;
                    padding-left: 10px;
                    display: inline-block;
                    height: 10px;
                }

                .el-button + .el-button {
                    margin-left: 6px;
                }
            }
        }
    }
    .ui-main-module-top {
        //margin-top: 10px;
        //margin-bottom: 20px;
        //padding: 10px 30px;
        //background: #ffffff ;
    }
    .ui-main-module-top ul::after {
        //display: block;
        //content: '';
        //clear: both;
    }
    .ui-main-module-top li {
        //float: left;
        //margin-right: 20px;
    }
    // 点击列颜色
    .ui-link {
        cursor: pointer;
        color: @base-link-color;
    }

    // 新表格组件
    .ui-table__body tr:hover {
        background: @para-table-hover_bgColor;
    }

    .ui-table__body {

        //状态圆圈
        .ui-state_circle {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            top: -2px;
            left: 0;
            margin-right: 5px;
        }

        .el-button--small:not(:first-child) span {
            border-left: 1px #3388ff solid;
            padding-left: 10px;
            display: inline-block;
            height: 10px;
        }

        .el-button + .el-button {
            margin-left: 6px;
        }
    }

    /** 多系统公用样式 ---------------------------------====== End ======--------------------------------**/
}

// 金额样式
.ui-money {
    font-weight: bold!important;
    color: #ff9a00!important;
}



